# TLP artefacts
tlangout.c
tlang.out
*.o

# Build files
#tlang
tlang-test-library

# Package management
.dub/
dub.selections.json

# Coverage files
*.lst

# Documentation )generated)
docs/
docs.json
testing.code-workspace
desktop_dev.code-workspace
